<nav class="navbar">
  <h1 class="is-size-2">Angular Demo - Wikipedia Search Tool</h1>
</nav>
<p>
  This simple demo app hooks into the Wikipedia API to execute and return some
  search results The interesting part of this app, though, is the use of
  interfaces and RxJS to inform Typescript what the expected structure of the
  Wikipedia API data will be, and then to use RxJS pipes to condition that data
  for consumption by the rest of the app.
</p>
<p>
  The code for this demo app can be found at
  <a href="https://github.com/StuLast/angular-demo-wsearch" target="_blank"></a>
</p>
